<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-438M5WVM2K"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-438M5WVM2K");
		</script>

		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<title>
			Page 2 of 39 - An autocross blog 24 years in the making! -
			AutocrossBlog.com
		</title>

		<link rel="icon" href="/assets/favicon.ico" />

		<meta property="og:url" content="https://www.autocrossblog.com/page2/" />
		<meta property="og:image" content="https://www.autocrossblog.com" />

		<meta property="og:type" content="article" />

		<meta
			property="og:title"
			content="An autocross blog 24 years in the making! - AutocrossBlog.com"
		/>

		<meta
			property="og:description"
			content="Explore autocross insights with Chris Hammond's 24+ years of experience. Get tips, event recaps, and SCCA schedule updates on my Autocross Blog."
		/>
		<meta
			name="description"
			content="Explore autocross insights with Chris Hammond's 24+ years of experience. Get tips, event recaps, and SCCA schedule updates on my Autocross Blog."
		/>

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@" />
		<meta
			name="twitter:title"
			content="An autocross blog 24 years in the making! - AutocrossBlog.com"
		/>

		<meta
			name="twitter:description"
			content="Explore autocross insights with Chris Hammond's 24+ years of experience. Get tips, event recaps, and SCCA schedule updates on my Autocross Blog."
		/>

		<meta name="twitter:image" content="https://www.autocrossblog.com" />

		<meta
			name="keywords"
			content="autocross, blog, scca, racing, automotive, car, speed, cone, pylon, parking lot racing"
		/>
		<link rel="canonical" href="https://www.autocrossblog.com/page2/" />

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
			integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
			crossorigin="anonymous"
		/>

		<link href="/assets/css/screen.css" rel="stylesheet" />

		<link href="/assets/css/main.css" rel="stylesheet" />

		<script src="/assets/js/jquery.min.js"></script>

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "BlogPosting",
				"url": "https://www.autocrossblog.com/page2/",
				"name": "An autocross blog 24 years in the making!",
				"headline": "An autocross blog 24 years in the making!",
				"keywords": "autocross, blog, scca, racing, automotive, car, speed, cone, pylon, parking lot racing",
				"description": "",
				"articleBody": " \r\n    Welcome to {{ site.title }} \r\n        {% if paginator.page %}\r\n            {% if paginator.page > 1 %}\r\n                - Page {{ paginator.page }} of {{ paginator.total_pages }} \r\n            {% endif %}\r\n        {% endif %}\r\n\r\n    \r\n    {{ site.description }} \r\n\r\n\r\n{% if page.url == \"/\" %}\r\n\r\n\r\n\r\n    \r\n        Featured\r\n    \r\n    \r\n\r\n    {% for post in site.posts %}\r\n\r\n        {% if post.featured == true %}\r\n\r\n            {% include featuredbox.html %}\r\n\r\n        {% endif %}\r\n\r\n    {% endfor %}\r\n\r\n    \r\n\r\n\r\n{% endif %}\r\n\r\n\r\n\r\n\r\n    \r\n\r\n        All Posts\r\n\r\n    \r\n\r\n    \r\n\r\n        {% for post in paginator.posts %}\r\n\r\n        {% include postbox.html %}\r\n\r\n        {% endfor %}\r\n\r\n    \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n    {% include pagination.html %}\r\n\r\n\r\n\r\n",
				"datePublished": null,
				"dateModified": null,

				"publisher": {
					"@type": "Organization",
					"name": "AutocrossBlog.com",
					"url": "https://www.autocrossblog.com",
					"logo": {
						"@type": "ImageObject",
						"width": 32,
						"height": 32,
						"url": "https://www.autocrossblog.com//assets/favicon.ico"
					}
				},
				"mainEntityOfPage": {
					"@type": "WebPage",
					"@id": "https://www.autocrossblog.com//page2/"
				},
				"image": ["https://www.autocrossblog.com"]
			}
		</script>

		<!-- Clarity tracking code for https://autocrossblog.com/ -->
		<script>
			(function (c, l, a, r, i, t, y) {
				c[a] =
					c[a] ||
					function () {
						(c[a].q = c[a].q || []).push(arguments);
					};
				t = l.createElement(r);
				t.async = 1;
				t.src = "https://www.clarity.ms/tag/" + i + "?ref=bwt";
				y = l.getElementsByTagName(r)[0];
				y.parentNode.insertBefore(t, y);
			})(window, document, "clarity", "script", "p0u9l5dl1l");
		</script>
	</head>

	<body class="layout-default">
		<!-- defer loading of font and font awesome -->
		<noscript id="deferred-styles">
			<link
				href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i"
				rel="stylesheet"
			/>
			<link
				rel="stylesheet"
				href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
				integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
				crossorigin="anonymous"
			/>
		</noscript>

		<!-- Begin Menu Navigation
================================================== -->
		<nav
			class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down"
		>
			<div class="container pr-0">
				<!-- Begin Logo -->
				<a class="navbar-brand" href="/">
					<img
						src="/assets/GradientLogo.webp"
						alt="AutocrossBlog.com"
						title="AutocrossBlog.com"
					/>
				</a>
				<!-- End Logo -->

				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarMediumish"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarMediumish">
					<!-- Begin Menu -->

					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="/index.html">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://www.autocrossrank.com"
								>AutocrossRank.com</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">About</a>
						</li>
						<script src="/assets/js/lunr.js"></script>

						<style>
							.lunrsearchresult .title {
								color: #d9230f;
							}
							.lunrsearchresult .url {
								color: silver;
							}
							.lunrsearchresult a {
								display: block;
								color: #777;
							}
							.lunrsearchresult a:hover,
							.lunrsearchresult a:focus {
								text-decoration: none;
							}
							.lunrsearchresult a:hover .title {
								text-decoration: underline;
							}
						</style>

						<form
							role="search"
							class="bd-search"
							onsubmit="return sanitizeAndSearch();"
						>
							<input
								type="text"
								class="form-control text-small launch-modal-search"
								id="lunrsearch"
								name="q"
								maxlength="255"
								value=""
								placeholder="Search: Type and enter..."
							/>
						</form>

						<div id="lunrsearchresults">
							<ul></ul>
						</div>

						<script src="/assets/js/lunrsearchengine.js"></script>

						<script>
							function sanitizeAndSearch() {
								const searchBox = document.getElementById("lunrsearch");
								const originalValue = searchBox.value;

								// Sanitize the search input
								const sanitizedValue = originalValue.replace(
									/[<>\/\\{}()$&+%#'"`]/g,
									""
								);

								// Set the sanitized value back to the input field (optional)
								searchBox.value = sanitizedValue;

								// Pass sanitized value to lunr_search function
								return lunr_search(sanitizedValue);
							}
						</script>
					</ul>

					<!-- End Menu -->
				</div>
			</div>
		</nav>
		<!-- End Navigation
================================================== -->

		<div class="site-content">
			<div class="container">
				<!-- Content
================================================== -->
				<main class="main-content">
					<section>
						<h1 itemprop="headline">
							Welcome to AutocrossBlog.com - Page 2 of 39
						</h1>
						<p>
							Explore autocross insights with Chris Hammond's 24+ years of
							experience. Get tips, event recaps, and SCCA schedule updates on
							my Autocross Blog.
						</p>
					</section>

					<!-- Posts Index
================================================== -->
					<section class="recent-posts">
						<div class="section-title">
							<h2><span>All Posts</span></h2>
						</div>

						<div class="row listrecent">
							<!-- begin post -->

							<div class="col-lg-4 col-md-6 mb-30px card-group">
								<div class="card h-100">
									<div class="maxthumb">
										<a href="/2024-st-louis-cam-challenge">
											<img
												class="img-fluid"
												title="An autocross blog 24 years in the making!"
												src="/assets/images_out/2024/May/CAMChallenge/BethCones-800-2e84ee3a9.jpg"
												alt="Recap of the 2024 St. Louis CAM Challenge Autocross"
												srcset="
													/assets/images_out/2024/May/CAMChallenge/BethCones-200-2e84ee3a9.jpg   200w,
													/assets/images_out/2024/May/CAMChallenge/BethCones-400-2e84ee3a9.jpg   400w,
													/assets/images_out/2024/May/CAMChallenge/BethCones-800-2e84ee3a9.jpg   800w,
													/assets/images_out/2024/May/CAMChallenge/BethCones-1600-2e84ee3a9.jpg 1600w,
													/assets/images_out/2024/May/CAMChallenge/BethCones-2000-2e84ee3a9.jpg 2000w
												"
											/>
										</a>
									</div>
									<div class="card-body">
										<h2 class="card-title">
											<a class="text-dark" href="/2024-st-louis-cam-challenge"
												>Recap of the 2024 St. Louis CAM Challenge Autocross</a
											>
										</h2>
										<h4 class="card-text">
											Last week, the thrill of autocross took over the Family
											Arena in St. Charles, Missouri, with the 2024 St. Louis
											CAM Challenge event. Competitors in various classes
											including CAM (Classic...
										</h4>
									</div>
									<div class="card-footer bg-white">
										<div class="wrapfooter">
											<span class="meta-footer-thumb">
												<img
													class="author-thumb"
													src="https://www.gravatar.com/avatar/bff097b7cc348bebce39ee1c7694d125?s=250&d=mm&r=x"
													alt="Chris Hammond"
													title="Chris Hammond"
												/>
											</span>
											<span class="author-meta">
												<span class="post-name"
													><a href="https://www.chrishammond.com"
														>Chris Hammond</a
													></span
												><br />
											</span>

											<span class="post-date">08 May 2024</span>

											<span class="post-read-more"
												><a
													href="/2024-st-louis-cam-challenge"
													title="Read Story"
													><svg
														class="svgIcon-use"
														width="25"
														height="25"
														viewbox="0 0 25 25"
													>
														<path
															d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
															fill-rule="evenodd"
														></path></svg></a
											></span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- end post -->

							<!-- begin post -->

							<div class="col-lg-4 col-md-6 mb-30px card-group">
								<div class="card h-100">
									<div class="maxthumb">
										<a href="/st-louis-autocross-event-2-2024">
											<img
												class="img-fluid"
												title="An autocross blog 24 years in the making!"
												src="/assets/images_out/2024/April/StLouis/Event2-1-800-49043f0a6.jpg"
												alt="From Cones to Camaraderie: Recap of St. Louis's First Autocross of 2024"
												srcset="
													/assets/images_out/2024/April/StLouis/Event2-1-200-49043f0a6.jpg   200w,
													/assets/images_out/2024/April/StLouis/Event2-1-400-49043f0a6.jpg   400w,
													/assets/images_out/2024/April/StLouis/Event2-1-800-49043f0a6.jpg   800w,
													/assets/images_out/2024/April/StLouis/Event2-1-1600-49043f0a6.jpg 1600w,
													/assets/images_out/2024/April/StLouis/Event2-1-2000-49043f0a6.jpg 2000w
												"
											/>
										</a>
									</div>
									<div class="card-body">
										<h2 class="card-title">
											<a
												class="text-dark"
												href="/st-louis-autocross-event-2-2024"
												>From Cones to Camaraderie: Recap of St. Louis's First
												Autocross of 2024</a
											>
										</h2>
										<h4 class="card-text">
											The first local autocross of the year was officially Event
											#2 for the St. Louis Region SCCA. Why Event #2 if it was
											the first? Event #1 ended up getting...
										</h4>
									</div>
									<div class="card-footer bg-white">
										<div class="wrapfooter">
											<span class="meta-footer-thumb">
												<img
													class="author-thumb"
													src="https://www.gravatar.com/avatar/bff097b7cc348bebce39ee1c7694d125?s=250&d=mm&r=x"
													alt="Chris Hammond"
													title="Chris Hammond"
												/>
											</span>
											<span class="author-meta">
												<span class="post-name"
													><a href="https://www.chrishammond.com"
														>Chris Hammond</a
													></span
												><br />
											</span>

											<span class="post-date">22 Apr 2024</span>

											<span class="post-read-more"
												><a
													href="/st-louis-autocross-event-2-2024"
													title="Read Story"
													><svg
														class="svgIcon-use"
														width="25"
														height="25"
														viewbox="0 0 25 25"
													>
														<path
															d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
															fill-rule="evenodd"
														></path></svg></a
											></span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- end post -->

							<!-- begin post -->

							<div class="col-lg-4 col-md-6 mb-30px card-group">
								<div class="card h-100">
									<div class="maxthumb">
										<a href="/red-hills-national-tour">
											<img
												class="img-fluid"
												title="An autocross blog 24 years in the making!"
												src="/assets/images_out/2024/March/Moultrie/RedHillsNationalTour-6-800-1dfcc92d6.jpg"
												alt="Red Hills National Tour Results"
												srcset="
													/assets/images_out/2024/March/Moultrie/RedHillsNationalTour-6-200-1dfcc92d6.jpg   200w,
													/assets/images_out/2024/March/Moultrie/RedHillsNationalTour-6-400-1dfcc92d6.jpg   400w,
													/assets/images_out/2024/March/Moultrie/RedHillsNationalTour-6-800-1dfcc92d6.jpg   800w,
													/assets/images_out/2024/March/Moultrie/RedHillsNationalTour-6-1600-1dfcc92d6.jpg 1600w,
													/assets/images_out/2024/March/Moultrie/RedHillsNationalTour-6-2000-1dfcc92d6.jpg 2000w
												"
											/>
										</a>
									</div>
									<div class="card-body">
										<h2 class="card-title">
											<a class="text-dark" href="/red-hills-national-tour"
												>Red Hills National Tour Results</a
											>
										</h2>
										<h4 class="card-text">
											Last Thursday I wrote a blog post about the trip down to
											Moultrie Georgia for the 2024 Red Hills Solo National
											Tour, this post will serve as the event review...
										</h4>
									</div>
									<div class="card-footer bg-white">
										<div class="wrapfooter">
											<span class="meta-footer-thumb">
												<img
													class="author-thumb"
													src="https://www.gravatar.com/avatar/bff097b7cc348bebce39ee1c7694d125?s=250&d=mm&r=x"
													alt="Chris Hammond"
													title="Chris Hammond"
												/>
											</span>
											<span class="author-meta">
												<span class="post-name"
													><a href="https://www.chrishammond.com"
														>Chris Hammond</a
													></span
												><br />
											</span>

											<span class="post-date">30 Mar 2024</span>

											<span class="post-read-more"
												><a href="/red-hills-national-tour" title="Read Story"
													><svg
														class="svgIcon-use"
														width="25"
														height="25"
														viewbox="0 0 25 25"
													>
														<path
															d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
															fill-rule="evenodd"
														></path></svg></a
											></span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- end post -->

							<!-- begin post -->

							<div class="col-lg-4 col-md-6 mb-30px card-group">
								<div class="card h-100">
									<div class="maxthumb">
										<a href="/roadtrip-to-moultrie">
											<img
												class="img-fluid"
												title="An autocross blog 24 years in the making!"
												src="/assets/images_out/2024/March/Moultrie/MustangVinyl-1-800-c354fd06d.jpg"
												alt="Roadtrip to Moultrie"
												srcset="
													/assets/images_out/2024/March/Moultrie/MustangVinyl-1-200-c354fd06d.jpg   200w,
													/assets/images_out/2024/March/Moultrie/MustangVinyl-1-400-c354fd06d.jpg   400w,
													/assets/images_out/2024/March/Moultrie/MustangVinyl-1-800-c354fd06d.jpg   800w,
													/assets/images_out/2024/March/Moultrie/MustangVinyl-1-1440-c354fd06d.jpg 1440w
												"
											/>
										</a>
									</div>
									<div class="card-body">
										<h2 class="card-title">
											<a class="text-dark" href="/roadtrip-to-moultrie"
												>Roadtrip to Moultrie</a
											>
										</h2>
										<h4 class="card-text">
											#SOLONATSHASSTARTED Here we go. We are on the road south
											to Moultrie, Georgia for the 2024 Tire Rack SCCA Red Hills
											National Tour at Spence Field. I met Dave and...
										</h4>
									</div>
									<div class="card-footer bg-white">
										<div class="wrapfooter">
											<span class="meta-footer-thumb">
												<img
													class="author-thumb"
													src="https://www.gravatar.com/avatar/bff097b7cc348bebce39ee1c7694d125?s=250&d=mm&r=x"
													alt="Chris Hammond"
													title="Chris Hammond"
												/>
											</span>
											<span class="author-meta">
												<span class="post-name"
													><a href="https://www.chrishammond.com"
														>Chris Hammond</a
													></span
												><br />
											</span>

											<span class="post-date">21 Mar 2024</span>

											<span class="post-read-more"
												><a href="/roadtrip-to-moultrie" title="Read Story"
													><svg
														class="svgIcon-use"
														width="25"
														height="25"
														viewbox="0 0 25 25"
													>
														<path
															d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
															fill-rule="evenodd"
														></path></svg></a
											></span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- end post -->

							<!-- begin post -->

							<div class="col-lg-4 col-md-6 mb-30px card-group">
								<div class="card h-100">
									<div class="maxthumb">
										<a href="/autocross-trophies">
											<img
												class="img-fluid"
												title="An autocross blog 24 years in the making!"
												src="/assets/images_out/2024/February/AutocrossTrophies/AutocrossTrophies-1-800-a0f69e416.jpg"
												alt="Autocross Trophies, do you need them or want them?"
												srcset="
													/assets/images_out/2024/February/AutocrossTrophies/AutocrossTrophies-1-200-a0f69e416.jpg   200w,
													/assets/images_out/2024/February/AutocrossTrophies/AutocrossTrophies-1-400-a0f69e416.jpg   400w,
													/assets/images_out/2024/February/AutocrossTrophies/AutocrossTrophies-1-800-a0f69e416.jpg   800w,
													/assets/images_out/2024/February/AutocrossTrophies/AutocrossTrophies-1-1600-a0f69e416.jpg 1600w,
													/assets/images_out/2024/February/AutocrossTrophies/AutocrossTrophies-1-2000-a0f69e416.jpg 2000w
												"
											/>
										</a>
									</div>
									<div class="card-body">
										<h2 class="card-title">
											<a class="text-dark" href="/autocross-trophies"
												>Autocross Trophies, do you need them or want them?</a
											>
										</h2>
										<h4 class="card-text">
											Here in the St. Louis region, you used to compete for a
											trophy at every event you entered. You could stick around
											after the event, and if you qualified, you...
										</h4>
									</div>
									<div class="card-footer bg-white">
										<div class="wrapfooter">
											<span class="meta-footer-thumb">
												<img
													class="author-thumb"
													src="https://www.gravatar.com/avatar/bff097b7cc348bebce39ee1c7694d125?s=250&d=mm&r=x"
													alt="Chris Hammond"
													title="Chris Hammond"
												/>
											</span>
											<span class="author-meta">
												<span class="post-name"
													><a href="https://www.chrishammond.com"
														>Chris Hammond</a
													></span
												><br />
											</span>

											<span class="post-date">03 Feb 2024</span>

											<span class="post-read-more"
												><a href="/autocross-trophies" title="Read Story"
													><svg
														class="svgIcon-use"
														width="25"
														height="25"
														viewbox="0 0 25 25"
													>
														<path
															d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
															fill-rule="evenodd"
														></path></svg></a
											></span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- end post -->

							<!-- begin post -->

							<div class="col-lg-4 col-md-6 mb-30px card-group">
								<div class="card h-100">
									<div class="maxthumb">
										<a href="/vitour-tires-illegal">
											<img
												class="img-fluid"
												title="An autocross blog 24 years in the making!"
												src="/assets/images_out/2024/vitourtire-800-50f2a1b68.jpg"
												alt="Information about the Vitour Tempesta P1"
												srcset="
													/assets/images_out/2024/vitourtire-200-50f2a1b68.jpg   200w,
													/assets/images_out/2024/vitourtire-400-50f2a1b68.jpg   400w,
													/assets/images_out/2024/vitourtire-800-50f2a1b68.jpg   800w,
													/assets/images_out/2024/vitourtire-1600-50f2a1b68.jpg 1600w,
													/assets/images_out/2024/vitourtire-1779-50f2a1b68.jpg 1779w
												"
											/>
										</a>
									</div>
									<div class="card-body">
										<h2 class="card-title">
											<a class="text-dark" href="/vitour-tires-illegal"
												>Information about the Vitour Tempesta P1</a
											>
										</h2>
										<h4 class="card-text">
											If you’re looking for information on the Vitour Tempesta
											P1 tire for the sport of autocross you’ve come to the
											right place!
										</h4>
									</div>
									<div class="card-footer bg-white">
										<div class="wrapfooter">
											<span class="meta-footer-thumb">
												<img
													class="author-thumb"
													src="https://www.gravatar.com/avatar/bff097b7cc348bebce39ee1c7694d125?s=250&d=mm&r=x"
													alt="Chris Hammond"
													title="Chris Hammond"
												/>
											</span>
											<span class="author-meta">
												<span class="post-name"
													><a href="https://www.chrishammond.com"
														>Chris Hammond</a
													></span
												><br />
											</span>

											<span class="post-date">02 Feb 2024</span>

											<span class="post-read-more"
												><a href="/vitour-tires-illegal" title="Read Story"
													><svg
														class="svgIcon-use"
														width="25"
														height="25"
														viewbox="0 0 25 25"
													>
														<path
															d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
															fill-rule="evenodd"
														></path></svg></a
											></span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- end post -->

							<!-- begin post -->

							<div class="col-lg-4 col-md-6 mb-30px card-group">
								<div class="card h-100">
									<div class="maxthumb">
										<a href="/2024stlouis-solo-schedule">
											<img
												class="img-fluid"
												title="An autocross blog 24 years in the making!"
												src="/assets/images_out/2024/2024-stl-solo-schedule-800-b39f6a888.jpg"
												alt="2024 St. Louis Region SCCA Solo Autocross Schedule"
												srcset="
													/assets/images_out/2024/2024-stl-solo-schedule-200-b39f6a888.jpg   200w,
													/assets/images_out/2024/2024-stl-solo-schedule-400-b39f6a888.jpg   400w,
													/assets/images_out/2024/2024-stl-solo-schedule-800-b39f6a888.jpg   800w,
													/assets/images_out/2024/2024-stl-solo-schedule-1024-b39f6a888.jpg 1024w
												"
											/>
										</a>
									</div>
									<div class="card-body">
										<h2 class="card-title">
											<a class="text-dark" href="/2024stlouis-solo-schedule"
												>2024 St. Louis Region SCCA Solo Autocross Schedule</a
											>
										</h2>
										<h4 class="card-text">
											The 2024 St. Louis Region SCCA Solo Schedule was released
											just yesterday! It isn’t even up on their website, but
											we’ve got it here for you now!
										</h4>
									</div>
									<div class="card-footer bg-white">
										<div class="wrapfooter">
											<span class="meta-footer-thumb">
												<img
													class="author-thumb"
													src="https://www.gravatar.com/avatar/bff097b7cc348bebce39ee1c7694d125?s=250&d=mm&r=x"
													alt="Chris Hammond"
													title="Chris Hammond"
												/>
											</span>
											<span class="author-meta">
												<span class="post-name"
													><a href="https://www.chrishammond.com"
														>Chris Hammond</a
													></span
												><br />
											</span>

											<span class="post-date">18 Jan 2024</span>

											<span class="post-read-more"
												><a href="/2024stlouis-solo-schedule" title="Read Story"
													><svg
														class="svgIcon-use"
														width="25"
														height="25"
														viewbox="0 0 25 25"
													>
														<path
															d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
															fill-rule="evenodd"
														></path></svg></a
											></span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- end post -->

							<!-- begin post -->

							<div class="col-lg-4 col-md-6 mb-30px card-group">
								<div class="card h-100">
									<div class="maxthumb">
										<a href="/autocross-blog">
											<img
												class="img-fluid"
												title="An autocross blog 24 years in the making!"
												src="/assets/images_out/Logo-800-3f147ac58.png"
												alt="Hello World, AutocrossBlog.com is live!"
												srcset="
													/assets/images_out/Logo-200-3f147ac58.png   200w,
													/assets/images_out/Logo-400-3f147ac58.png   400w,
													/assets/images_out/Logo-800-3f147ac58.png   800w,
													/assets/images_out/Logo-1024-3f147ac58.png 1024w
												"
											/>
										</a>
									</div>
									<div class="card-body">
										<h2 class="card-title">
											<a class="text-dark" href="/autocross-blog"
												>Hello World, AutocrossBlog.com is live!</a
											>
										</h2>
										<h4 class="card-text">
											AutocrossBlog.com is a culmination of two decades of
											autocrossing and way too many different cars and car
											websites over the years.
										</h4>
									</div>
									<div class="card-footer bg-white">
										<div class="wrapfooter">
											<span class="meta-footer-thumb">
												<img
													class="author-thumb"
													src="https://www.gravatar.com/avatar/bff097b7cc348bebce39ee1c7694d125?s=250&d=mm&r=x"
													alt="Chris Hammond"
													title="Chris Hammond"
												/>
											</span>
											<span class="author-meta">
												<span class="post-name"
													><a href="https://www.chrishammond.com"
														>Chris Hammond</a
													></span
												><br />
											</span>

											<span class="post-date">16 Jan 2024</span>

											<span class="post-read-more"
												><a href="/autocross-blog" title="Read Story"
													><svg
														class="svgIcon-use"
														width="25"
														height="25"
														viewbox="0 0 25 25"
													>
														<path
															d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
															fill-rule="evenodd"
														></path></svg></a
											></span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- end post -->

							<!-- begin post -->

							<div class="col-lg-4 col-md-6 mb-30px card-group">
								<div class="card h-100">
									<div class="maxthumb">
										<a href="/chris-hammond">
											<img
												class="img-fluid"
												title="An autocross blog 24 years in the making!"
												src="/assets/images_out/chrishammond-800-0fb9d59b4.jpg"
												alt="The Intersection of Tech and Community: Chris Hammond's Journey"
												srcset="
													/assets/images_out/chrishammond-200-0fb9d59b4.jpg   200w,
													/assets/images_out/chrishammond-400-0fb9d59b4.jpg   400w,
													/assets/images_out/chrishammond-800-0fb9d59b4.jpg   800w,
													/assets/images_out/chrishammond-1600-0fb9d59b4.jpg 1600w,
													/assets/images_out/chrishammond-1875-0fb9d59b4.jpg 1875w
												"
											/>
										</a>
									</div>
									<div class="card-body">
										<h2 class="card-title">
											<a class="text-dark" href="/chris-hammond"
												>The Intersection of Tech and Community: Chris Hammond's
												Journey</a
											>
										</h2>
										<h4 class="card-text">
											A little about the owner here: Balancing professional
											pursuits with community involvement isn’t easy, but Chris
											Hammond seems to have found the sweet spot.
										</h4>
									</div>
									<div class="card-footer bg-white">
										<div class="wrapfooter">
											<span class="meta-footer-thumb">
												<img
													class="author-thumb"
													src="https://www.gravatar.com/avatar/bff097b7cc348bebce39ee1c7694d125?s=250&d=mm&r=x"
													alt="Chris Hammond"
													title="Chris Hammond"
												/>
											</span>
											<span class="author-meta">
												<span class="post-name"
													><a href="https://www.chrishammond.com"
														>Chris Hammond</a
													></span
												><br />
											</span>

											<span class="post-date">12 Jun 2023</span>

											<span class="post-read-more"
												><a href="/chris-hammond" title="Read Story"
													><svg
														class="svgIcon-use"
														width="25"
														height="25"
														viewbox="0 0 25 25"
													>
														<path
															d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
															fill-rule="evenodd"
														></path></svg></a
											></span>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
							</div>
							<!-- end post -->
						</div>
					</section>

					<!-- Pagination
================================================== -->
					<div class="bottompagination">
						<div class="pointerup"><i class="fa fa-caret-up"></i></div>
						<span class="navigation" role="navigation">
							<div class="pagination">
								<a class="ml-1 mr-1" href="/">&laquo; Prev</a>

								<a class="ml-1 mr-1" href="/">1</a>

								<span class="ml-1 mr-1">2</span>

								<a class="ml-1 mr-1" href="/page3/">3</a>

								<a class="ml-1 mr-1" href="/page4/">4</a>

								<a class="ml-1 mr-1" href="/page5/">5</a>

								<a class="ml-1 mr-1" href="/page6/">6</a>

								<a class="ml-1 mr-1" href="/page7/">7</a>

								<a class="ml-1 mr-1" href="/page8/">8</a>

								<a class="ml-1 mr-1" href="/page9/">9</a>

								<a class="ml-1 mr-1" href="/page10/">10</a>

								<a class="ml-1 mr-1" href="/page11/">11</a>

								<a class="ml-1 mr-1" href="/page12/">12</a>

								<a class="ml-1 mr-1" href="/page13/">13</a>

								<a class="ml-1 mr-1" href="/page14/">14</a>

								<a class="ml-1 mr-1" href="/page15/">15</a>

								<a class="ml-1 mr-1" href="/page16/">16</a>

								<a class="ml-1 mr-1" href="/page17/">17</a>

								<a class="ml-1 mr-1" href="/page18/">18</a>

								<a class="ml-1 mr-1" href="/page19/">19</a>

								<a class="ml-1 mr-1" href="/page20/">20</a>

								<a class="ml-1 mr-1" href="/page21/">21</a>

								<a class="ml-1 mr-1" href="/page22/">22</a>

								<a class="ml-1 mr-1" href="/page23/">23</a>

								<a class="ml-1 mr-1" href="/page24/">24</a>

								<a class="ml-1 mr-1" href="/page25/">25</a>

								<a class="ml-1 mr-1" href="/page26/">26</a>

								<a class="ml-1 mr-1" href="/page27/">27</a>

								<a class="ml-1 mr-1" href="/page28/">28</a>

								<a class="ml-1 mr-1" href="/page29/">29</a>

								<a class="ml-1 mr-1" href="/page30/">30</a>

								<a class="ml-1 mr-1" href="/page31/">31</a>

								<a class="ml-1 mr-1" href="/page32/">32</a>

								<a class="ml-1 mr-1" href="/page33/">33</a>

								<a class="ml-1 mr-1" href="/page34/">34</a>

								<a class="ml-1 mr-1" href="/page35/">35</a>

								<a class="ml-1 mr-1" href="/page36/">36</a>

								<a class="ml-1 mr-1" href="/page37/">37</a>

								<a class="ml-1 mr-1" href="/page38/">38</a>

								<a class="ml-1 mr-1" href="/page39/">39</a>

								<a class="ml-1 mr-1" href="/page3/">Next &raquo;</a>
							</div>
						</span>
					</div>
				</main>
			</div>

			<!-- Categories Jumbotron
================================================== -->
			<div class="jumbotron fortags">
				<div class="d-md-flex h-100">
					<div class="col-md-4 transpdark align-self-center text-center h-100">
						<div
							class="d-md-flex align-items-center justify-content-center h-100"
						>
							<h2 class="d-md-block align-self-center py-1 font-weight-light">
								Explore <span class="d-none d-md-inline">→</span>
							</h2>
						</div>
					</div>
					<div class="col-md-8 p-5 align-self-center text-center">
						<a class="mt-1 mb-1" href="/category/2-8l/">2.8l (2)</a>

						<a class="mt-1 mb-1" href="/category/240z/">240z (192)</a>

						<a class="mt-1 mb-1" href="/category/280z/">280z (8)</a>

						<a class="mt-1 mb-1" href="/category/350z/">350z (107)</a>

						<a class="mt-1 mb-1" href="/category/accident/">accident (5)</a>

						<a class="mt-1 mb-1" href="/category/autocross/">autocross (30)</a>

						<a class="mt-1 mb-1" href="/category/autocrossrank/"
							>autocrossrank (1)</a
						>

						<a class="mt-1 mb-1" href="/category/brz/">brz (1)</a>

						<a class="mt-1 mb-1" href="/category/bsp/">bsp (3)</a>

						<a class="mt-1 mb-1" href="/category/california/">california (2)</a>

						<a class="mt-1 mb-1" href="/category/cam/">cam (1)</a>

						<a class="mt-1 mb-1" href="/category/camera/">camera (2)</a>

						<a class="mt-1 mb-1" href="/category/colorado/">colorado (2)</a>

						<a class="mt-1 mb-1" href="/category/contest/">contest (1)</a>

						<a class="mt-1 mb-1" href="/category/corvette/">corvette (2)</a>

						<a class="mt-1 mb-1" href="/category/datsun/">datsun (190)</a>

						<a class="mt-1 mb-1" href="/category/education/">education (1)</a>

						<a class="mt-1 mb-1" href="/category/electric/">electric (1)</a>

						<a class="mt-1 mb-1" href="/category/engine/">engine (9)</a>

						<a class="mt-1 mb-1" href="/category/fail/">fail (1)</a>

						<a class="mt-1 mb-1" href="/category/family/">family (1)</a>

						<a class="mt-1 mb-1" href="/category/forsale/">forsale (8)</a>

						<a class="mt-1 mb-1" href="/category/fr-s/">fr-s (19)</a>

						<a class="mt-1 mb-1" href="/category/friends/">friends (8)</a>

						<a class="mt-1 mb-1" href="/category/fuel/">fuel (3)</a>

						<a class="mt-1 mb-1" href="/category/gear/">gear (3)</a>

						<a class="mt-1 mb-1" href="/category/gopro/">gopro (4)</a>

						<a class="mt-1 mb-1" href="/category/grissom/">grissom (2)</a>

						<a class="mt-1 mb-1" href="/category/indiana/">indiana (2)</a>

						<a class="mt-1 mb-1" href="/category/install/">install (4)</a>

						<a class="mt-1 mb-1" href="/category/instruction/"
							>instruction (1)</a
						>

						<a class="mt-1 mb-1" href="/category/interior/">interior (1)</a>

						<a class="mt-1 mb-1" href="/category/koni/">koni (1)</a>

						<a class="mt-1 mb-1" href="/category/lincoln/">lincoln (3)</a>

						<a class="mt-1 mb-1" href="/category/local/">local (2)</a>

						<a class="mt-1 mb-1" href="/category/megasquirt/"
							>megasquirt (21)</a
						>

						<a class="mt-1 mb-1" href="/category/motor/">motor (10)</a>

						<a class="mt-1 mb-1" href="/category/mustang/">mustang (4)</a>

						<a class="mt-1 mb-1" href="/category/national-tour/"
							>national-tour (6)</a
						>

						<a class="mt-1 mb-1" href="/category/nationaltour/"
							>nationaltour (7)</a
						>

						<a class="mt-1 mb-1" href="/category/nissan/">nissan (100)</a>

						<a class="mt-1 mb-1" href="/category/ohio/">ohio (1)</a>

						<a class="mt-1 mb-1" href="/category/paint/">paint (1)</a>

						<a class="mt-1 mb-1" href="/category/parts/">parts (7)</a>

						<a class="mt-1 mb-1" href="/category/peru/">peru (1)</a>

						<a class="mt-1 mb-1" href="/category/photography/"
							>photography (1)</a
						>

						<a class="mt-1 mb-1" href="/category/photos/">photos (2)</a>

						<a class="mt-1 mb-1" href="/category/pickthewinners/"
							>pickthewinners (1)</a
						>

						<a class="mt-1 mb-1" href="/category/pictures/">pictures (1)</a>

						<a class="mt-1 mb-1" href="/category/prosolo/">prosolo (1)</a>

						<a class="mt-1 mb-1" href="/category/rank/">rank (1)</a>

						<a class="mt-1 mb-1" href="/category/regions/">regions (1)</a>

						<a class="mt-1 mb-1" href="/category/results/">results (2)</a>

						<a class="mt-1 mb-1" href="/category/scca/">scca (13)</a>

						<a class="mt-1 mb-1" href="/category/schedule/">schedule (2)</a>

						<a class="mt-1 mb-1" href="/category/scion/">scion (7)</a>

						<a class="mt-1 mb-1" href="/category/seat/">seat (2)</a>

						<a class="mt-1 mb-1" href="/category/seats/">seats (2)</a>

						<a class="mt-1 mb-1" href="/category/setup/">setup (76)</a>

						<a class="mt-1 mb-1" href="/category/site/">site (2)</a>

						<a class="mt-1 mb-1" href="/category/solonationals/"
							>solonationals (4)</a
						>

						<a class="mt-1 mb-1" href="/category/specfrs/">specfrs (10)</a>

						<a class="mt-1 mb-1" href="/category/ssc/">ssc (19)</a>

						<a class="mt-1 mb-1" href="/category/st-louis/">st.louis (5)</a>

						<a class="mt-1 mb-1" href="/category/stereo/">stereo (1)</a>

						<a class="mt-1 mb-1" href="/category/str/">str (1)</a>

						<a class="mt-1 mb-1" href="/category/subaru/">subaru (1)</a>

						<a class="mt-1 mb-1" href="/category/supplies/">supplies (3)</a>

						<a class="mt-1 mb-1" href="/category/suspension/">suspension (8)</a>

						<a class="mt-1 mb-1" href="/category/teens/">teens (1)</a>

						<a class="mt-1 mb-1" href="/category/tires/">tires (2)</a>

						<a class="mt-1 mb-1" href="/category/tools/">tools (3)</a>

						<a class="mt-1 mb-1" href="/category/towing/">towing (1)</a>

						<a class="mt-1 mb-1" href="/category/toyota/">toyota (8)</a>

						<a class="mt-1 mb-1" href="/category/tr6/">tr6 (1)</a>

						<a class="mt-1 mb-1" href="/category/trailer/">trailer (1)</a>

						<a class="mt-1 mb-1" href="/category/triumph/">triumph (1)</a>

						<a class="mt-1 mb-1" href="/category/trophies/">trophies (1)</a>

						<a class="mt-1 mb-1" href="/category/tutorial/">tutorial (1)</a>

						<a class="mt-1 mb-1" href="/category/video/">video (24)</a>

						<a class="mt-1 mb-1" href="/category/videogames/">videogames (1)</a>

						<a class="mt-1 mb-1" href="/category/vinyl/">vinyl (2)</a>

						<a class="mt-1 mb-1" href="/category/website/">website (1)</a>

						<a class="mt-1 mb-1" href="/category/weight/">weight (1)</a>

						<a class="mt-1 mb-1" href="/category/welding/">welding (1)</a>

						<a class="mt-1 mb-1" href="/category/wheels/">wheels (3)</a>

						<a class="mt-1 mb-1" href="/category/z/">z (1)</a>
					</div>
				</div>
			</div>

			<!-- Begin Footer
================================================== -->
			<footer class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 text-center text-lg-left">
							Copyright © 2024 AutocrossBlog.com |
							<a href="/policies">Terms & Policies</a>
						</div>
						<div class="col-md-6 col-sm-6 text-center text-lg-right">
							Forked from
							<a href="https://www.chrishammond.com/">Chris Hammond</a>'s
							<a href="https://www.jekyllexample.com">jekyllexample.com</a>.
						</div>
					</div>
				</div>
			</footer>
			<!-- End Footer
================================================== -->
		</div>
		<!-- /.site-content -->

		<!-- Scripts
================================================== -->

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
			integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
			crossorigin="anonymous"
		></script>

		<script
			src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
			crossorigin="anonymous"
		></script>

		<script src="/assets/js/mediumish.js"></script>

		<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>
